<html>
	<head>
		<title>ISO New England Sample Application</title>
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
	</head>
	<body style="background-color:#e4f3f6; color:#3f5f64">
<br />
    <div class="container">
    <div class="container" align='center'>
<a href="https://www.iso-ne.com/">
<img src="https://www.iso-ne.com/static-assets/img/iso-logo-gray-188x90.jpg" height='50px' alt="" /> </a> 
<br />
<br />
<h2>Sample Application</h2>
</div>
<br />
    <div class="container" align='center'>

        <h1>{% block title %}(no title){% endblock %}</h1>

		{% block content %}
		{% endblock %}
    </div>
	</body>
</html>
