{% extends 'quiz/base.html' %}
{% block title %}
Search Results
{% endblock%}
{% block content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>User Input</th>
      <th>Function Name</th>
      <th>Function Output</th>
    </tr>
  </thead>
  <tbody>
    {% for result in results %}
      <tr>
        <td>{{ result.usermodel.field1 }}</td>
        <td>{{ result.function_name }}</td>
        <td>{{ result.function_output }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
