{% extends 'quiz/base.html' %}
{% block title %}
Success
{% endblock %}
{% block content %}
<h3>Your sample input has been saved is being transformed 100 times</h3><br />
<p>You may search for your sample input below:</p>
<form action="/quiz/search/" method="GET">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="text" name='query'/>
    <input type="submit" value="Search" />
</form>
{% endblock %}
