{% extends 'quiz/base.html' %}
{% block title %}
Welcome
{% endblock %}
{% block content %}
<p>Enter sample input to be transformed 100 times</p>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit and Transform" />
</form>
{% endblock %}
